@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.input-box{
    /* background-color: #1E90FF; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10 rem;
    margin-bottom: 15px;
}
.input-text{
    margin: 10px;
    color: #ffffff;
}
.header{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    height: 90vh;
    margin-top: 8px;
}

/* .extraSpace {
    width: 10rem; 
    background-color: #ffffff; 
    height: 90vh; 
} */

.extraSpace {
    width: 10rem; /* Define a fixed width */
    height: 100%; /* Full height to match content */
    display: flex;
    align-items: flex-end; /* Aligns the logo to the bottom */
    justify-content: flex-end; /* Aligns the logo to the right */
    padding: 10px; /* Add some spacing from the edges */
    box-sizing: border-box;
}

/* Style for the logo */
.logo {
    width: 60px; /* Small size */
    height: auto; /* Maintain aspect ratio */
}

.giflogo {
    position: absolute;
    /* top: -35px; */
    top:-20px;
    left: 210px;
    width: 125px; /* Small size */
    height: auto; /* Maintain aspect ratio */
    mix-blend-mode: multiply; /* Try multiply, overlay, or screen */
    z-index: 4000;
}

.circleText {
    position: absolute;
    top: 25px;
    left: 300px;
    height: auto; /* Maintain aspect ratio */
    z-index: 4000;
}

.circleText {
    font-family: 'Playfair Display', serif;
    font-size: 22px;  /* Adjust size as desired */
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .circleText-cluster {
    color: rgb(156, 55, 156);
    font-weight: 600; /* Bold if desired */
  }
  
  .circleText-chirp {
    color: #1b98e0;
    font-weight: 600; /* Bold if desired */
  }

.home{
    flex:1;
    height: 90vh;
    gap: "0px";
    margin-top:70px;
    /* border: 1px solid black; */
}

.heatmap{
    /*border: 1px solid #000000; */
    height: 55vh;
}


.body{
    display:flex;
    flex-direction: column;
    gap: "0px";

}

html,body {
    height:100%;
}